<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/index.js" defer></script>
    <title><%= title %></title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/saved">Opgeslagen</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Website tester</h1>
        <p>Met behulp van deze pagina is het mogelijk om websites te onderwerpen aan een accesibility test.
        Om te beginnen plaats een URL in de zoekbalk en 'Doe test'.</p>

        <form action="#" method="get">
            <label for="url">Plaats een url</label>
            <div class="search-container">
                <input name="url" type="text" required placeholder="example.com"><button type="submit">Doe test!</button>
            </div>
        </form>
    </main>
    <section class="results-container">
        <div class="img-container">
            <img class="display-none" src="img/giphy.gif" alt="moving wheelchair">
        </div>
        <div class="results"></div>
    </section>
    
    <embed class="display-none" id="positive" autoplay controls type="audio/mpeg" src="sounds/applause.mp3" />
    <embed class="display-none" id="negative" autoplay controls type="audio/mpeg" src="sounds/crowd-groan.mp3" />

</body>
</html>